 <div  >
    <portfolio-nav-bar></portfolio-nav-bar>
     <portfolio-about>
       <portfolio-page-title></portfolio-page-title>
    </portfolio-about>
   <portfolio-skills></portfolio-skills>
   <portfolio-projects></portfolio-projects>
   <portfolio-code></portfolio-code>
   <portfolio-resume></portfolio-resume>
   <portfolio-brag></portfolio-brag>
   <router-outlet></router-outlet>
</div>
 
 

<!-- 
 nx generate @nrwl/angular:module layout  --project=shared/ui
nx generate @angular/material:tree sections/skills  --skip-import 
  --> -->